<!DOCTYPE html>
<html ng-attr-lang="{{lang}}" ng-app="optionsApp" ng-controller="HtmlCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Alex Birch">
		<title ng-bind="::localized('productTitle')"></title>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="options.css">
		<script type="text/javascript" src="options.js"></script>
	</head>
	<body>
		<div ng-controller="OptionsCtrl">
			<h1 ng-bind="::localized('productOptions')"></h1>
			<div ng-if="loading">
				<span ng-bind="::localized('loading')"></span><span>...</span>
			</div>
			<div ng-if="!loading" ng-controller="RulesCtrl">
				<h2 class="capitalize" ng-bind="::localized('rules')"></h2>
				<div ng-repeat="rule in state.rules track by $index">
					<h3>
						<span class="capitalize" ng-bind="::localized('rule')"></span>
						<span ng-bind="$index+1"></span>
					</h3>
					<label class="capitalize" ng-bind="::localized('playlist')"></label>
					<div ng-repeat="match in rule.match track by $index">
						<input ng-value="match"></input>
					</div>
					<a ng-click="addMatch($event, rule)" ng-bind="::localized('addMatch')" href="javascript:void()"></a>
				</div>
				<a ng-click="addRule($event)" ng-bind="::localized('addRule')" href="javascript:void()">Add</a>
			</div>
			<pre ng-bind="serialize()"></pre>
		</div>
	</body>
</html>	