<!DOCTYPE html>
<html ng-attr-lang="{{lang}}" ng-app="optionsApp" ng-controller="HtmlCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Alex Birch">
		<title ng-bind="::localized('productTitle')"></title>
		<script type="text/javascript" src="../lib/angular.min.js"></script>
		<link rel="stylesheet" type="text/css" href="options.css">
		<script type="text/javascript" src="options.js"></script>
	</head>
	<body>
		<div ng-controller="OptionsCtrl" ng-submit="submit(theForm.$invalid)">
			<h1 ng-bind="::localized('productOptions')"></h1>
			<div ng-if="loading">
				<span ng-bind="::localized('loading')"></span><span>...</span>
			</div>
			<form name="theForm" ng-if="!loading" novalidate>
				<h2 class="capitalize" ng-bind="::localized('rules')"></h2>
				<div ng-repeat="rule in state.rules track by $index">
					<fieldset>
						<h3>
							<span class="capitalize" ng-bind="::localized('rule')"></span>
							<span ng-bind="$index+1"></span>
							<a class="capitalize header-hyper" ng-click="deleteRule($event, $index)" ng-bind="::localized('deleteRule')" href="javascript:void()"></a>
						</h3>
						<div class="clear-both"></div>
						<label class="capitalize" ng-bind="::localized('matches')"></label>
						<div ng-repeat="match in rule.match track by $index">
							<input class="path-input" ng-model="rule.match[$index]" required placeholder="{{::localized('exampleMatch')}}"></input>
							<a class="capitalize" ng-click="deleteMatch($event, rule, $index)" ng-bind="::localized('deleteMatch')" href="javascript:void()"></a>
						</div>
						<!-- <div>&nbsp;</div> -->
						<div>
							<a class="capitalize" ng-click="addMatch($event, rule)" ng-bind="::localized('addMatch')" href="javascript:void()"></a>
						</div>
						<div>&nbsp;</div>
						<label class="capitalize" ng-bind="::localized('playlist')"></label>
						<div ng-repeat="song in rule.playlist track by $index">
							<input type="text" class="path-input" ng-model="rule.playlist[$index]" required placeholder="{{::localized('exampleFile')}}"></input>
							<a class="capitalize" ng-click="deleteSong($event, rule, $index)" ng-bind="::localized('deleteSong')" href="javascript:void()"></a>
						</div>
						<!-- <div>&nbsp;</div> -->
						<div>
							<a class="capitalize" ng-click="addSong($event, rule)" ng-bind="::localized('addSong')" href="javascript:void()"></a>
						</div>
						<div>&nbsp;</div>
						<label>
							<input class="radio-input" type="radio" ng-model="rule.playlistMode" value="noShuffle"></input>
							<span ng-bind="::localized('noShuffle')"></span>
						</label><br/>
						<label>
							<input class="radio-input" type="radio" ng-model="rule.playlistMode" value="shuffle"></input>
							<span ng-bind="::localized('shuffle')"></span>
						</label><br/>
						<label>
							<input class="radio-input" type="radio" ng-model="rule.playlistMode" value="favouriteFirst"></input>
							<span ng-bind="::localized('favouriteFirst')"></span>
						</label><br/>
					</fieldset>
					<!-- <hr ng-show="!$last"></hr> -->
				</div>
				<div>&nbsp;</div>
				<a class="capitalize" ng-click="addRule($event)" ng-bind="::localized('addRule')" href="javascript:void()"></a>
				<hr></hr>
				<!-- <div>&nbsp;</div> -->
				<input type="submit" class="capitalize" ng-value="::localized('submit')" ng-disabled="saving || theForm.$invalid"></input>
				<div ng-show="saving">
					<div>&nbsp;</div>
					<span class="capitalize" ng-bind="::localized('saving')"></span><span>...</span>
				</div>
			</form>
			<div>&nbsp;</div>
			<label class="capitalize" ng-bind="::localized('helpfulPre')"></label><span>:</span>
			<pre ng-bind="serialize()"></pre>
			<hr></hr>
			<div>
				<label class="capitalize">
				<span ng-bind="::localized('importLabel')"></span>
				<textarea class="code" ng-model="import" ng-disabled="saving"></textarea>
				</label>
				<input type="button" class="capitalize" ng-value="::localized('import')" ng-disabled="saving" ng-click="doImport($event)"></input>
			</div>
		</div>
	</body>
</html>	