.capitalize {
	text-transform: capitalize;
}

.float-left {
	float: left;
}

.clear-both {
	clear: both;	
}

.float-right {
	float: right;
}

.path-input {
	width: 250px;
}

.header-hyper {
	font-size: calc(1em / 1.2);
}