.capitalize {
	text-transform: capitalize;
}

.float-left {
	float: left;
}

.clear-both {
	clear: both;	
}

.float-right {
	float: right;
}

.path-input {
	width: 250px;
}

.header-hyper {
	font-size: calc(1em / 1.2);
}

.code {
	font-family:monospace;
}

textarea {
	display: block;
	width: 300px;
}

pre {
	overflow-x: scroll;
	max-width: 300px;
}